SMALL LINEAR REGRESSION MODEL BASED ON PERSON JOB EXPERIENCE IT WILL PREDICT SALARY

In [20]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [21]:
data=pd.read_csv("studentdata.csv")
data.head()

      name  age  salary  experience
0    satya   20   50000         3.0
1    sahil   20   45000         2.8
2  bhushan   24   35000         2.0
3    rahul   18   20000         1.0
4     yash   19   25000         1.9

In [23]:
import warnings
warnings.filterwarnings("ignore", category=UserWarning)

model=LinearRegression()
X=data[['experience']]
y=data['salary']
model.fit(X,y)
y_pred=model.predict(X)

print("MAE =",mean_absolute_error(y,y_pred))
print("MSE =",mean_squared_error(y,y_pred))
print("RMSE =",np.sqrt(mean_squared_error(y,y_pred)))
expe=float(input("Enter your work experience ="))
final_result=round(model.predict([[expe]])[0],1)
print(f"according to your work experience {expe} years your appriximately salary is {final_result}")

r2=r2_score(y,y_pred)
print("r2 score =",round(r2,1))

MAE = 2598.7122121575926
MSE = 9557786.751064066
RMSE = 3091.567038099621

Enter your work experience = 7

according to your work experience 7.0 years your appriximately salary is 107376.6
r2 score = 0.9